*, *::before, *::after {
	margin:  0;
	box-sizing:  border-box;
	padding: 0;
}

:root {
	background: var(--beige);
	font-family: var(--sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x:  hidden;

	--sans: 'Syne', sans-serif;
	--black: #000;
	--white: #fff;
	--beige: 	#dedede;
	--heading-color: #201F1E;
	--text-color: #605C59;
	--width: 58rem;

	--space-2: max(4vh, 2rem);
	--space-4: max(8vh, 4rem);
}

body {
	align-items: center;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content:  center;
	padding: var(--space-2) max(10vw, 1.25rem);
	overflow: hidden;
}

h1 {
	font-size:  clamp(3rem, 6vw, 4.5rem);
	font-weight: bold;
	line-height: 1.08;
}

h2 {
	font-size: 1.85rem;
	font-weight: normal;
	margin-bottom: var(--space-2);
}

h2, p {
	color: var(--text-color);
}

img {
	max-width: 100%;
}

button, .button {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	background: var(--black);
	border: none;
	border-radius:  0.25rem;
	/*box-shadow: 0 0.5rem 2rem -0.25rem rgba(0, 0, 0, .15);*/
	color: var(--white);
	cursor: pointer;
	font-family: var(--sans);
	font-size: 1.25rem/*1.75rem*/;
	padding: 0.9em 1.25em/*0.5em 0.75em*/;
	line-height: 1;
}

	button svg {
		display: inline-block;
		margin-left: 0.35em;
		height: 0.7em;
		width: auto;
	}
